/* #region DefiniÃ§Ãµes gerais */

* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0%;
    text-decoration: none;
    font-family: system-ui;
}

button:focus {
    outline: none;
}


/* #endregion */


/* #region Css da Navbar */

nav {
    background-color: rgb(39 39 39);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

nav .menus div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89%;
    margin: 0 10px;
    margin-top: 10px;
}

nav .menus .m-cat a{
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0px;
}

nav .menus .m-cat::after {
    margin-left: 4px;
    transform: rotate(90deg);
    content: ">";
    font-size: 14px;
    font-weight: 500;    
    color: #ffffff;
}

nav .menus a.hotsale{
    margin-top:8px;
    letter-spacing: 3px;
    color: #ff5959;
}

nav .menus .m-cat:hover{
    box-shadow: inset 0 -2px 0px 0px #ff5959;
    position: relative
}

nav .menus .m-cat:hover .sub-cats {
    display: flex;
}

nav .menus .sub-cats{
    display: none;
    position:absolute;
    bottom: -206px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 390px;
    background-color: rgb(255 255 255 / .8);
    padding: 25px 13px;
    height: fit-content;
}

nav .menus .sub-cats a{
    color: #272727;
    margin: 10px 5px;
    font-weight: 600;
}

/* #endregion */


/* #region banner */

section.banner {
    background: #fff url("../img/banner-principal.png") no-repeat center;
    height: 650px;
}


/* #endregion */


/* #region corpo-pagina */

main {
    width: 95%;
    max-width: 1175px;
    margin: auto;
    padding: 0 15px;
}


/* #region Primeiras informações da pagina */

div.infos-top {
    background-color: #fff;
    display: flex;
    margin: -80px -15px 0 -15px;
    box-shadow: 0 0 1px 1px #e9e9e9;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

div.infos-top .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    box-shadow: 2px 0 0 0 #e9e9e9;
    text-align: center;
}

div.infos-top .info:last-child {
    box-shadow: none;
}

div.infos-top .info img {
    margin-bottom: 9px;
}

div.infos-top .info strong {
    margin-bottom: 2px;
    text-transform: uppercase;
}


/* #endregion */

div.infos-top .info p,
div.infos-top .info i,
div.row-prods .prod p {
    font-size: 13px;
}


/* Imagens de possiveis ofertas */

div.offers-top {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
    width: initial;
    overflow: hidden;
}


/* #region linha com os produtos */

div.row-prods {
    display: flex;
    /* padding: 0 15px; */
    margin: 10px 0;
    overflow: hidden;
    justify-content: space-between;
    max-width: initial;
}

div.row-prods .prod {
    margin-right: 2.7%;
}

div.row-prods .prod img {
    margin-bottom: 8px;
}

div.row-prods .prod p.p-title {
    margin-bottom: 3px;
}


/* #endregion */


/* Apenas para deixar o risco no meio da escrita */

.strike {
    text-decoration: line-through;
    color: #6a6a6a;
}


/* #region utilizavel para os carousel */

.carousel {
    position: relative;
}

button.bt-next,
button.bt-prev {
    position: absolute;
    border-radius: 100%;
    padding: 14px;
    border: 0;
    box-shadow: unset;
    background-color: #fff;
    bottom: 78px;
    background: #fff url("../img/arrow.png") no-repeat center;
}

button.bt-next {
    right: 0px;
    transform: rotate(180deg);
}

button.bt-prev {
    left: 0px;
}


/* #endregion */

.title {
    margin: 50px 0;
    font-size: 30px;
    text-align: center;
    color: #5c5c5c;
    text-transform: uppercase;
    font-weight: 100;
}

hr {
    margin-top: 20px;
}


/* #endregion */