* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0%;
    text-decoration: none;
}

button:focus {
    outline: none;
}

nav {
    background-color: rgb(39 39 39);
    height: 90px;
}

section.banner {
    background: #fff url("../img/banner-principal.png") no-repeat center;
    height: 650px;
}

main {
    width: 95%;
    max-width: 1175px;
    margin: auto;
    padding: 0 15px;
}

div.offers-top {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
    width: initial;
    overflow: hidden;
}

div.infos-top {
    background-color: #fff;
    display: flex;
    margin: -80px -15px 0 -15px;
    box-shadow: 0 0 1px 1px #f7f7f7;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

div.infos-top .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    box-shadow: 1px 0 1px 0px #f7f7f7;
    text-align: center;
}

div.infos-top .info:last-child {
    box-shadow: none;
}

div.infos-top .info img {
    margin-bottom: 9px;
}

div.infos-top .info strong {
    margin-bottom: 2px;
    text-transform: uppercase;
}

div.infos-top .info p,
div.infos-top .info i,
div.row-prods .prod p {
    font-size: 13px;
}

div.row-prods {
    display: flex;
    /* padding: 0 15px; */
    margin: 10px 0;
    overflow: hidden;
    justify-content: space-between;
    max-width: initial;
}

div.row-prods .prod {
    margin-right: 2.7%;
}

div.row-prods .prod img {
    margin-bottom: 8px;
}

div.row-prods .prod p.p-title {
    margin-bottom: 3px;
}

.strike {
    text-decoration: line-through;
    color: #6a6a6a;
}

.carousel {
    position: relative;
}

button.bt-next,
button.bt-prev {
    position: absolute;
    border-radius: 100%;
    padding: 14px;
    border: 0;
    box-shadow: unset;
    background-color: #fff;
    bottom: 70px;
}

button.bt-next {
    right: 0px;
}

button.bt-prev {
    left: 0px;
}

.title {
    margin: 50px 0;
    font-size: 30px;
    text-align: center;
    color: #5c5c5c;
    text-transform: uppercase;
    font-weight: 100;
}

hr {
    margin-top: 20px;
}